@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


:root {
    --primary-color: hsl(330,87%,17%);
    --secondary-color : hsla(203,100%,13%,1);
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

/* Start Header Section */
/* Start NavBar */
header {
    height: 100vh;
    background:linear-gradient(270deg,
        rgba(0,0,0,0),rgba(0,0,0,0.7)
    ),url("../assets/img/banner/banner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar {
    background: linear-gradient(rgba(0,0,0,0.3),var(--secondary-color));
    padding: 10px 30px;
    transition: all 0.7s ease 0s;
    
}
.navmenus {
    background: linear-gradient(rgba(0,0,0,0.3),var(--secondary-color));
    padding: 5px 30px;
}
.menuitems {
    color: #f4f4f4;
    font-size: 13px;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}
.menuitems:hover {
    color: skyblue;
}
.lines1,.lines2,.lines3 {
    width: 25px;
    height: 3px;
    margin: 6px;
    transition: all 0.4s ease 0s;
}
.crossxs .lines1{
    transform: rotate(-45deg) translate(-6px,6px);
    /* transform-origin: left; */
}
.crossxs .lines2{
    opacity: 0;
}
.crossxs .lines3{
    transform: rotate(45deg) translate(-6px,-6PX);
}
/* End Nav Bar */
/* Start Banner */
.banners {
    
    width: 80%;

    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);

}
.bannerheaders {
    animation-name: bnanis;
    animation-duration: 2s;
    
}
.bannerparagraphs{

    animation-name: bnanis;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;

}

@keyframes bnanis {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
/* End Banner */
/* Start About Us Section */
.aboutuss {
    /* background:linear-gradient(270deg,
        rgba(0,0,0,0),rgba(0,0,0,0.7)
    ),url("../assets/img/banner/banner2.jpg"); */
    background-image:linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.5)
    ),url("../assets/img/banner/banner2.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    position: relative;
}
.aboutuss .lines {
    width: 30%;
    height: 1.2px;
    background-color: #fff;
    margin-bottom: 3px;
}
.aboutuss .lines:nth-of-type(2){
    width: 20%;
    height: 1px;
}
.aboutuss .lines:nth-of-type(3){
    width: 10%;
    height: 0.5px;
    margin-bottom: 30px;
}
.aboutuss h5 {
    background-color: #f4f4f4;
    color: #000;
    border-left: 5px solid red;
    padding: 10px;
}
/* ~ sibling ကို လှမ်းခေါ်ရန် */
.aboutuss h5 ~ p {
    text-align: left;
    margin: 30px 0;
}

.buildings img{
    width: 350px;
    position: absolute;
    bottom: 0;
}
/* End About Us Section */

/* Start Property */
.titles{
    text-transform: uppercase;
    /* background-color: steelblue; */

    display: inline-block;

    padding: 5px 20px;

    position: relative;

}
.titles::before,.titles::after{
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    
}
.titles::before{
    border-left: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    left: 0;
    bottom: 0;
}
.titles::after{
    border-right: 3px solid var(--primary-color);
    border-top: 3px solid var(--primary-color);
    right: 0;
    top: 0;
}

.propertylists {
    color: #777;
    cursor: pointer;
    user-select: none;
}
.propertylists.activeitems {
    color: var(--primary-color);
}
/* End property */
/* Start Adv Section */
.missions{
    background-color: var(--secondary-color);
}
.fromleft {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: fromleftani 3s linear 0s;
}
.fromright{
    animation: fromrightani 3s linear 0s;
}

@keyframes fromleftani{
    0%{
        transform: translateX(-120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fromrightani {
    0%{
        transform: translateX(120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
/* End Adv Section */
/* Start Services Section */
.services{
    background: linear-gradient(
        200deg,
        var(--primary-color),
        var(--secondary-color)
    )
}
.servicecards img{
    transition: all 0.5s ease 0s;
}
.servicecards:hover img{
    transform: scale(1.1);
}
/* End Services Section */